.mobile {
	display:none;
	@media #{$mobile} {
		display: block;
	}
}

.device {
	display:none;
	@media #{$device} {
		display: block;
	}
}

.tablet {
	display:none;
	@media #{$tablet} {
		display: block;
	}
}

.tabtop {
	display:none;
	@media #{$tabtop} {
		display: block;
	}
}

.desktop {
	display:none;
	@media #{$desktop} {
		display: block;
	}
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

@mixin svg($color, $position, $side) {
	@if $side == left {
		$bg:str-replace(#{$color}, "#", "%23");
		$bg_part1:"data:image/svg+xml;utf8,
		<svg width='640' height='100' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' preserveAspectRatio='none'>
	 		<g>
	    	<path transform='rotate(#{$position}, 320, 50)'  fill='";
	    	$bg_part2:#{$bg};
	    	$bg_part3:"' d='m643.000061,100l0,-100l-645.99979,100l645.99979,0z'/>
	 		</g>
		</svg>";
		$bg_parts:#{$bg_part1}#{$bg_part2}#{$bg_part3};
		background-image:url("#{$bg_parts}");
	} @else {
		$bg:str-replace(#{$color}, "#", "%23");
		$bg_part1:"data:image/svg+xml;utf8,
		<svg width='640' height='100' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' preserveAspectRatio='none'>
	 		<g>
	    	<path transform='rotate(#{$position}, 320, 50)'  fill='";
	    	$bg_part2:#{$bg};
	    	$bg_part3:"' d='m642.99976,0l0,102l-645.99982,-102l645.99982,0z'/>
	 		</g>
		</svg>";
		$bg_parts:#{$bg_part1}#{$bg_part2}#{$bg_part3};
		background-image:url("#{$bg_parts}");    		
	}
}


@mixin svgbg($hex, $height, $position, $offset, $flip-x:false, $flip-y:false) {
	$color:str-replace(#{$hex}, "#", "%23");
	$bg:"data:image/svg+xml;utf8,
	<svg width='100' height='100' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' preserveAspectRatio='none'>
	  <g";
	  	@if $flip-x {
	  		$bg: $bg + " transform='translate(100,0) scale(-1,1)'";
	  	}
	   $bg: $bg + "><path";
	   @if $flip-y {
	   		$bg: $bg + " transform='rotate(90, 50, 50)'";
	   }
	   $bg: $bg + " d='m0,100.00006l0,-100.00006l99.99999,100.00006l-99.99999,0z' fill='#{$color}'/>
	  </g>
	</svg>
	";
	&:after {
		
		content:"";
		position:absolute;
		background-repeat:no-repeat;
		background-position:left bottom;
		visibility:visible;
		left:0;
		right:0;
		height:$height;
		background-size:100% $height;
		#{$position}:$offset;
		background-image:url("#{$bg}"); 
		z-index:1;
	}
}