.feature {
	text-align:center;
	span {
		border-radius:100%;
		background:#000;
		width:100px;
		height:100px;
		display:block;
		margin:auto;
		color:#fff;
		text-align:center;
		line-height:100px;
		font-size:3em;
		margin-bottom:$gutter/2;
		@include transition(all, 500ms, ease-in-out);
		&:hover {
			transform: rotateX(360deg);
			background-color:$hover;
		}
	}
	p {
		color:$grey;
	}
}

.service {
	[class^="icon-"] {
		&:before {
			border-radius:100%;
			background-color:$black;
			color:$white;
			width:$gutter;
			height:$gutter;
			line-height: $gutter;
			box-sizing:content-box;
			margin:0;
			margin-right:5px;
			font-size:0.8em;
		}	
	}
	p {
		color:$grey;
	}
	@media #{$device} {
		text-align: center;
		[class^="icon-"] {
			padding-top:$gutter*1.5;
			position:relative;
			&:before {
				position:absolute;
				left:50%;
				margin-left:-$gutter/2;
				top:0;
			}
		}
	}
}


.social {
	a {
		background:rgba($black, 0.5);
		text-align:center;
		width:100%;
		padding:50% 0;
		height:0;
		display: block;
		border-radius:100%;
		color:$white;
		&:before {
			font-size:4em;
			margin-top:-0.5em;
			@media #{$mobile} {
				font-size:2.4em;
			}
		}
	}
}