/* BREAKPOINTS */
$mobile: "(max-width:568px)"; 							/* smartphone only */
$device: "(max-width:801px)";							/* smartphone - tablet  */
$tablet: "(min-width:569px) and (max-width:768px)";		/* tablet only  */
$tabtop: "(min-width:569px)";							/* tablet - desktop  */
$desktop: "(min-width:769px)";							/* desktop only  */

/* BROWSER/DEVICE SPECIFIC */
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"; /* iOS retina */
$webkit: "(-webkit-min-device-pixel-ratio:0)"; /* chrome and safari 8 */



