$width:1024px;					/* the max-width, desktop mode */
$gutter:30px;					/* margin between grid elements */
$grids:4,5,12;						/* define multiple grid formats, for use with u-*-of-* classes. The more defined, the larger the styles.css file size will be */
$devmode: false;				/* view semi transparent bg on all elements */
$speed:0.15s;					/* global default transition speed */
$size:12px;
@if $devmode {
	* {
		background-color:#ccc;
		background-color: rgba(0, 0, 0, 0.1) !important;
		filter: alpha(opacity=50);
		color:#fff;
	}
}