/* BREAKPOINTS */
$mobile: "(max-width:767px)"; 							/* smartphone only */
$device: "(max-width:1024px)";							/* smartphone - tablet  */
$tablet: "(min-width:768px) and (max-width:1024px)";	/* tablet only  */
$tabtop: "(min-width:768px)";							/* tablet - desktop  */
$desktop: "(min-width:1025px)";							/* desktop only  */

/* BROWSER/DEVICE SPECIFIC */
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"; /* iOS retina */
$webkit: "(-webkit-min-device-pixel-ratio:0)"; /* chrome and safari 8 */
$ie:"all and (-ms-high-contrast:none), )-ms-high-contrast-active)"; /* ie9-11 */

/* DEVICE ORIENTATION */
$portrait: "and (orientation: portrait)";
$landscape: "and (orientation: landscape)";

/* SNAP TO ALTERNATIVE MODE AT...*/
$breakpoint:$mobile;