.mobile {
	display:none;
	@media #{$mobile} {
		display: block;
	}
}

.device {
	display:none;
	@media #{$device} {
		display: block;
	}
}

.tablet {
	display:none;
	@media #{$tablet} {
		display: block;
	}
}

.tabtop {
	display:none;
	@media #{$tabtop} {
		display: block;
	}
}

.desktop {
	display:none;
	@media #{$desktop} {
		display: block;
	}
}

%cell {
	width:100%;
	height:100%;
	display:table;
	.content {
		vertical-align: middle;
		display: table-cell;
	}
}

%underline {
	&:after {
		height:1px;
		width:50px;
		content:"";
		display: block;
		border-bottom-color:inherit;
		border-bottom-width:1px;
		border-bottom-style:solid;
		visibility: visible;
		position: relative;
		margin:$padding auto;
	}
}