.service {
	text-align:center;
	padding:$padding;
	transition:background $speed linear 0s;
	h3 {
		text-transform: uppercase;
		margin-bottom:$padding*0.5 !important;
	}
	p {
		font-size:0.8em;
		line-height:1.6em;
	}
	&:before {
		font-size:3em;
		margin-bottom:$padding;
		transition:transform $speed*2 ease-out 0s;
	}
	&.circle {
		&:before {
			border-width:2px;
			border-style:solid;
			border-color:inherit;
			border-radius:100%;
			padding:$padding;
			box-sizing:content-box;
		}
	}
	&.disc {
		&:before {
			background:$primary;
			color:$white;
			border-radius:100%;
			padding:$padding;
			box-sizing:content-box;
		}
	}
	&:hover {
		background:rgba($grey, 0.25);
		&:before {
			transform: rotateY(360deg);
			color:$secondary;
		}
	}
}