/* Pallette Colours */
$green:#54C99A;
$yellow:#F3CA27;
$indigo:#071634;

/* Greyscale Colours */
$black:#000;
$grey:#ccc;
$white:#fff;

/* Branding */

$primary:$green;
$secondary:$yellow;
$tertiary:$indigo;