html,body {
	height:100%;
	font-size:$size;
	font-weight:700;
	@media #{$mobile} {
		overflow:hidden;
	}
	-webkit-tap-highlight-color:transparent;
	background:$black;
}

a {
	text-decoration:none;
	cursor:pointer;
	&.button {
		display:inline-block;
		padding:15px;
		@include px2em(30px, font-size);
		text-transform:uppercase;
		margin-top:10px;
		backface-visibility: hidden;
		&:hover {
			background-color:$hover !important;
			color:$white !important;
		}
		& ~ .button {
			background-color:$black !important;
			color:$white !important;
			&:hover {
				background-color:$hover !important;
				color:$white !important;
			}
		}

		@media #{$mobile} {
			display:block;
			@include px2em(22px, font-size);
			text-align: center;
			& ~ .button {
				margin-top:$gutter/2;
				margin-left:0;
			}
		}
	}
}