header {
	padding:$gutter;
	background:$base;
	button {
		display: none;
	}
	@media #{$mobile} {
		height:55px;
		position:fixed;
		top:0;
		left:0;
		right:0;
		padding:0;
		padding:$gutter/2;
		background:darken($base, 10%);
		button {
			position: absolute;
			width: 55px;
			height: 55px;
			top: 0;
			right: 0;
			border:none;
			font-size:30px;
			padding:0;
			font-family: "icons";
			background:darken($base, 20%);
			display:block;
			z-index: 3;
			&:before {
				content: '\e80f';
				color:$white;
			}
			&.menu {
				&:before {
					content: '\00D7';
					font-weight:bold;
				}
			}
			&:active {
				background:lighten($base, 10%);
			}			
		}
	}
}