main {
	padding-top:100px;
	height:auto;
	min-height:100%;
	@media #{$mobile} {
		position:absolute;
		top:55px;
		right:0;
		left:0;
		bottom:0;
		min-height:auto;
		background:darken($base, 5%);
		overflow:auto;
		-webkit-overflow-scrolling:touch;
		z-index: 1;
		padding-top:0;
		@include transition(all, $speed, ease-in-out);
		&.menu {
			@include transform("translate3d(-265px,0,0)");
			-ms-transform: translate(-265px,0); /* IE9 */
			opacity:0.5;
		}
		section {
			&:first-child {
				padding-top:$gutter !important;
			}
		}
	}
	section {
		background-repeat:no-repeat;
		background-size:100% 50px;
		background-position:center bottom;
		padding-top:$gutter;
		padding-bottom:$gutter*1.5;
		&:first-child {
			padding-top:$gutter*2;
		}
		&:nth-child(odd) {
			background-color:darken($base, 5%);
			@include svg($white, 0, left);	
			color:$white;
			.button {
				color:$black;
				background-color:$white;
			}		
		}
		&:nth-child(even) {
			background-color:$white;
			@include svg(lighten($base, 10%), 180, right);
			color:$black;	
			p {
				color:$grey;
				font-weight:400;
			}
			.button {
				color:$white;
				background-color:$black;
			}					
		}
	}
}

a {
	text-decoration:none;
	cursor:pointer;
	&.button {
		display:inline-block;
		padding:15px;
		@include px2em(30px, font-size);
		text-transform:uppercase;
		margin-top:10px;
		@include transition(all, $speed, ease-in-out);
		backface-visibility: hidden;
		&:hover {
			background-color:$hover !important;
			color:$white !important;
		}
		& ~ .button {
			background-color:$black !important;
			color:$white !important;
			&:hover {
				background-color:$hover !important;
				color:$white !important;
			}
		}

		@media #{$mobile} {
			display:block;
			@include px2em(22px, font-size);
			text-align: center;
			& ~ .button {
				margin-top:$gutter/2;
				margin-left:0;
			}
		}
	}
}

.feature {
	text-align:center;
	span {
		border-radius:100%;
		background:$black;
		width:100px;
		height:100px;
		display:block;
		margin:auto;
		color:$white;
		text-align:center;
		line-height:100px;
		font-size:3em;
		margin-bottom:$gutter;
		@include transition(all, 500ms, ease-in-out);
		&:hover {
			transform: rotateX(360deg);
			background-color:$hover;
		}
	}

	@media #{$tablet} {
		span {
			width:75px;
			height:75px;
			line-height:75px;
		}
		h2 {
			@include px2em(30px, font-size);
		}
		p {
			@include px2em(20px, line-height);
		}
	}
	@media #{$mobile} {
		border-top:1px dotted $grey;
		padding-top:$gutter;
		&:first-child {
			padding-top:0;
			border:none;
		}
	}
}

.service {
	h3 {
		&:before {
			border-radius:20px;
			margin-left: 0;
			margin-right:10px;
			background-color:$black;
			width:20px;
			height:20px;
			color:$white;
			padding:8px;
			box-sizing:content-box;
		}	
	}

	p {
		@include px2em(20px, line-height);
	}
	@media #{$device} {
		text-align: center;
		h3 {
			padding-top:50px;
			position:relative;
			&:before {
				position:absolute;
				left:50%;
				margin-left:-20px;
				top:0;
			}
		}
	}
}

.social {
	a {
		background:darken($base, 25%);
		color:$white;
		display: block;
		position: relative;
		border-radius:100%;
		img {
			border-radius:100%;
		}
		&:before {
			margin:0;
			height:50px;
			display:inline;
			width:100%;
			line-height: 100%;
			position:absolute;
			top:50%;
			margin-top:-25px;
			line-height: 50px;
			font-size:5em;
			@media #{$mobile} {
				font-size:3em;
			}
		}
	}
}