main {
	padding-top:100px;
	height:auto;
	min-height:100%;
	@media #{$mobile} {
		position:absolute;
		top:55px;
		right:0;
		left:0;
		bottom:0;
		min-height:auto;
		background:darken($base, 5%);
		overflow:auto;
		-webkit-overflow-scrolling:touch;
		z-index: 1;
		padding-top:0;
		@include transition(all, $speed, ease-in-out);
		&.menu {
			@include transform("translate3d(-265px,0,0)");
			-ms-transform: translate(-265px,0); /* IE9 */
			opacity:0.5;
		}
	}
	
	
	section {
		background-repeat:no-repeat;
		background-size:100% 50px;
		background-position:center bottom;
		padding-top:$gutter;
		padding-bottom:$gutter*1.5;
										
		&:nth-child(odd) {
			background-color:darken($base, 5%);
			@include svg($white, 0, left);	
			color:$white;
			a {
				color:$white;
				&.button {
					color:$black;
					background-color:$white;
				}				
			}
		
		}
		&:nth-child(even) {
			background-color:$light;
			@include svg(lighten($base, 10%), 180, right);
			color:$black;	
			p {
				color:$grey;
				font-weight:400;
			}
			.button {
				color:$white;
				background-color:$black;
			}					
		}


	}
}









