main {
	height:auto;
	min-height:100%;
	@media #{$mobile} {
		position:absolute;
		top:55px;
		right:0;
		left:0;
		bottom:0;
		min-height:auto;
		background:darken($base, 5%);
		overflow:auto;
		-webkit-overflow-scrolling:touch;
		z-index: 1;
		padding-top:0;
		@include transition(all, $speed, ease-in-out);
		&.menu {
			@include transform("translate3d(-265px,0,0)");
			-ms-transform: translate(-265px,0); /* IE9 */
			opacity:0.5;
		}
		> * {
			position:relative;
		}
	}
}

section {
	padding:$gutter*2 0 $gutter*2 0;
	background-repeat:no-repeat;
	background-size:100% 50px;
	background-position:center bottom;
	z-index:0;
	@media #{$mobile} {
		padding:$gutter 0 $gutter*2 0;	
	}
	&:nth-child(even) {
		background-color:$light;
		@include svg(lighten($base, 10%), 180, right);
		color:$black;
		.button {
			@extend %button;
			background:$black;
			color:$white;
		}
	}
	&:nth-child(odd) {
		background-color:darken($base, 5%);
		@include svg(lighten($base, 10%), 0, left);	
		color:$white;
	}
	.row {
		> * {
			margin-bottom:$gutter;
			@media #{$mobile} {
				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
}