header {
	padding:$padding;
	width:100%;
	background:rgba($black, 0.5);
	@if $stickyHeader {
		position:fixed;
		top:0;
		z-index:2;
	}
	@if $hideHeaderOnScroll {
		@include vendors(transition, all $speed ease-in-out 0s);
		&.hide {
			@include vendors(transform, translateY(-100%));
		}
	}
	> a {
		float:left;
		color:$white;
	}
	> button {
		display: none;
	}
}