section {
	text-align:center;
	@include vendors(transition, all $speed ease-in-out 0s);
	* {
		&:not(:last-child) {
			margin-bottom: $padding;
		}
	}
	.content {
		padding:$padding;
	}
	&:nth-child(odd) {
		background:$primary;
		color:$white;
	}
	&:nth-child(even) {
		background:$white;
		color:$primary;
		p {
			color:lighten($black, 50%);
		}
	}
}