section {
	height:100%;
	padding:$padding + 64px $padding $padding;
	text-align:center;
	@extend %cell;
	* {
		&:not(:last-child) {
			margin-bottom: $padding;
		}
	}
	&:nth-child(odd) {
		background:$brand;
		color:$white;
	}
	&:nth-child(even) {
		background:$white;
		color:$brand;
	}
	position: relative;
	z-index:1;
}