/* Branding */
$green:#00C2A2;
$orange:#F57F49;
$red:#DB3F3F;

/* Greyscale Colours */
$black:#303030;
$dark:#646464;
$slate:#999;
$grey:#a1a1a1;
$fog:#ccc;
$light:#F7F7F7;
$white:#fff;

/* Base Colours */
$base:$orange;
$hover:$green;